
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}  

.completed {
    text-decoration: line-through;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  .list-group-item {
    position: relative;
  }
  
  .list-group-item .btn {
    margin-right: 5px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  